body {
    background-color: rgb(206, 205, 205, .50);
}

.backgroundimage {

    background-image: url(images/recipe2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;;
}
.title {
    font-family: "New Times Roman", "Helvetica", sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    background-color: rgb(229, 233, 214);
    box-shadow: 3px 3px 20px 0px rgb(128, 133, 128);
    padding: 10px;
    padding-bottom: 70px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px grey;
}
#ul-front-page {
    font-family: "New Times Roman", "Helvetica", sans-serif;
    margin-left: 150px;
    padding: 10px;
}
a:hover {
    color: black;
}
a:visited {
    color: purple;
}
.secondary-page-title {
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 1px grey;
}
.secondary-image {
    display: block;
    margin: auto;
    margin-top: auto;

    box-shadow: 0px 0px 5px 3px grey;
}
.secondary-text {
    text-align: center;
    font-weight: 600;
}
ul, ol {
    margin-inline-start: 10%;
    line-height: 2;
    font-weight: 600;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 10px;
}
h3 {
    margin-inline-start: 8%;

}
body {
    padding-bottom: 50px;
}
.curve {
    background-color: rgb(201, 206, 154, .5);
    height: 67px;
    margin-top: -100px;
    padding: 0;
    border-top-left-radius: 0%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}


